*{
   margin: 0;
   box-sizing: border-box;
}

body{
    width: 1200px;
    margin: auto;

}

.container{
    background-color: #ececec;
    padding-bottom: 10px;
}

/* header */
#header-site{
    height: 100px;
    background-color: white;
    font-family: 'Protest Riot', sans-serif;
}

.logo{
    height: 80px;
    vertical-align: middle;
}

#title{
    display: inline-block;
    vertical-align: sub;
    font-size: 40px;
}

#nav-site, #main-site{
    width: 900px;
    background-color: white;
    margin: 20px auto 5px;
}

#main-site{
    padding-bottom: 20px;
}

.add{
    background-color: rgb(63, 181, 255);
    color: white;
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 10px;
}

.section{
    background-color: white;
    color: lightgray;
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

#main-site{
    margin-top: 5px;
}

section{
    margin: 10px;
}

section button{
    color: white;
    padding: 3px 10px;
    font-size: 10px;
    border-radius: 15px;
    border: 1px solid lightgray;
    margin: 10px;
}

h2{
    font-family: 'Protest Riot', sans-serif;
    padding: 20px;
}

.arrow{
    font-size: 10px;
}
.tick{
    border: 1px solid rgb(47, 255, 95);
    border-radius: 50%;
    font-size: 12px;
    color: rgb(47, 255, 95);
    margin: 5px;
    padding: 0 2px;
}

.cross{
    border: 1px solid rgb(192, 29, 29);
    border-radius: 50%;
    font-size: 12px;
    color: rgb(192, 29, 29);
    margin: 5px;
    padding: 0 2px; 
}

.editorial{
    background-color: rgb(63, 181, 255);
}

.goal{
    background-color: rgb(125, 41, 221);
}

.recruiting{
    background-color: rgb(43, 146, 103);
}

.mobile{
    background-color: rgb(223, 131, 26);
}

.website{
    background-color: rgb(196, 82, 144);
}

.sales{
    background-color: rgb(126, 186, 53);
}
